.html {
	height: 100%;
}

.body {
	height: 100%;
}

[data-role="page"] {
	height: 80%;
}

[data-role="content"] {
	height: 80%;
}

.wheelcontainer {
	text-align:	center;
}

.footer {
	text-align:	center;
}

table.settingstable {
    width: 100%;
}